PUBLIC_API_URL=http://localhost:8080
PUBLIC_GAME_SERVER_URL=http://localhost:8091
POSTGRES_DB=avara
POSTGRES_USER=avara
POSTGRES_PASSWORD=avara
S3_BUCKET=avara-levels
MINIO_ROOT_USER=avara
MINIO_ROOT_PASSWORD=avara-dev-password
